<header>
    <nav class="navbar navbar-expand-lg custom-navbar">

        <a class="navbar-brand" href="/">
            <img src="/public/images/logo-white@300x.png" alt="langfoss logo" class="logo-width">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="navbar-toggler-icon fas fa-bars text-white"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav navbar-right ml-auto align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="/works">Work</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu text-dark">
                        <a class="dropdown-item text-dark" href="/admin/add-work">Add Work</a>
                        <a class="dropdown-item text-dark" href="/admin/works">Admin Work</a>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">CS341</a>
                </li>

            </ul>

        </div>
    </nav>
</header>