<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>

            <main>
                <div class="container custom-container">
                    <div>
                        <div style="font-size: 11em;">
                            <i class="far fa-frown text-blue"></i>
                        </div>

                        <div class="text-center" style="font-size: 1.5em;">
                            <p>The page you are looking for doesn't exist.</p>
                            <p>Let's go back to the <a href="/" class="text-blue font-weight-bold">home page</a> </p>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('includes/end.ejs') %>